<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <!-- Basic Meta
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ title or 'Matthew Schmoyer' }}</title>
  <meta name="description" content="">
  <meta name="author" content="Matt Schmoyer">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/stylesheets/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/stylesheets/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/stylesheets/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- Javascript
  ================================================== -->
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='Skeleton/images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='Skeleton/images/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='Skeleton/images/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='Skeleton/images/apple-touch-icon-114x114.png') }}">

</head>
<body>
  <div class="container">
    <div class="sixteen columns">
      <a id="main-link" href="{{ url_for('index') }}">
        <span>
          <h1 class="remove-bottom" style="margin-top: 40px">Matthew</h1>
          <div class="row">
            <div id="schmoyer_header" class="three columns">
              <h2 class="red">Schmoyer</h2>
            </div>
        </span>
      </a>
        {% if title == 'Matthew Schmoyer' %}
          <div id="nav_top" class="nine columns clearfix">
            <div class="three columns alpha">
              <h4><a id="tab_blog" class="active" href="#">Blog</a></h4>
            </div>
            <div class="three columns">
              <h4><a id="tab_portfolio" href="#">Portfolio</a></h4>
            </div>
            <div class="three columns omega">
              <h4><a id="tab_contact" href="#">Contact</a></h4>
            </div>
          </div>
        {% endif %}
      </div>
      <hr />
    </div>
    {% block main_content %}
    {% endblock main_content %}
  </div>

  <br />
</body>

{% block scripts %}
{% endblock scripts %}

</html>