{% extends 'base.html' %}
{% block main_content %}
  <div class="container">
    <div class="sixteen columns">
      <a id="main-link" href="{{ url_for('index') }}"><span>
        <h1 class="remove-bottom" style="margin-top: 40px">Matthew</h1>
        <div class="row">
          <div id="schmoyer_header" class="three columns">
            <h2 class="red">Schmoyer</h2>
          </div>
      </span>
        <div id="nav_top" class="nine columns clearfix">
          <div class="three columns alpha">
            <h4><a id="tab_blog" class="active" href="#blog">Blog</a></h4>
          </div>
          <div class="three columns">
            <h4><a id="tab_portfolio" href="#portfolio">Portfolio</a></h4>
          </div>
          <div class="three columns omega">
            <h4><a id="tab_contact" href="#contact">Contact</a></h4>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="five columns">
      <p>Hey there! How are you? My name is Matt. I'm a junior software engineer at <a href="http://50onred.com" target="blank">50onRed</a> in Philadelphia.</p>
      <p>I put up this site so that I could share my personal thoughts with the internet.</p>
      <hr class="small">
      <div id="social">
        <a class="icon" href="https://twitter.com/mattyschmo" title="Twitter">
          <i class="icon-twitter"></i>
        </a>
        <a class="icon" href="http://instagram.com/mattyschmo" title="Instagram">
          <i class="icon-instagram"></i>
        </a>
        <a class="icon" href="https://www.facebook.com/matthew.schmoyer.1" title="Facebook">
          <i class="icon-facebook-sign"></i>
        </a>
        <a class="icon" href="http://www.linkedin.com/pub/matthew-schmoyer/65/47/b62" title="Linkedin">
          <i class="icon-linkedin"></i>
        </a>
        <a class="icon" href="https://github.com/mschmo" title="Github">
          <i class="icon-github"></i>
        </a>
        <a class="icon" href="mailto:mlschmoyer@temple.edu?subject=Hello" title="E-Mail">
          <i class="icon-envelope"></i>
        </a>
        <a class="icon" href="#" title="Subscribe (Atom)">
          <i class="icon-rss"></i>
        </a>
      </div>
    </div>

    <!-- Main content -->
    <div id="main_content" class="eleven columns">
      <div name="blog" id="tab_body_blog">
        <h3>This is where my blog entries will go!</h3>
      </div>
      <div name="portfolio" id="tab_body_portfolio" class="none">
        <h3>This is where my projects will go!</h3>
      </div>
      <div name="contact" id="tab_body_contact" class="none">
        <h3>This is how you can contact me!</h3>
      </div>
    </div>

  </div><!-- container -->
{% endblock %}