{% set title = 'Matthew Schmoyer' %}
{% extends 'base.html' %}

{% block main_content %}
    <div class="five columns">
      <p>Hey there! How are you? My name is Matt. I'm a junior software engineer at <a href="http://50onred.com" target="blank">50onRed</a> in Philadelphia.</p>
      <p>I put up this site so that I could share my personal thoughts with the internet.</p>
      <hr class="small">
      <div id="social">
        <a class="icon" href="https://github.com/mschmo" title="Github">
          <i class="icon-github"></i>
        </a>
        <a class="icon" href="mailto:mattschmo@gmail.com?subject=Hello" title="E-Mail">
          <i class="icon-envelope"></i>
        </a>
        <a class="icon" href="{{ url_for('feed') }}" title="Subscribe (Atom)">
          <i class="icon-rss"></i>
        </a>
      </div>
    </div>

    <div id="main_content" class="eleven columns">
      <div name="blog" id="tab_body_blog">
        {% for post in posts %}
          <h5><a href="{{ url_for('post', path=post.path) }}">{{ post.title }}</a></h5>
          <br />
        {% endfor %}
      </div>
      <div name="portfolio" id="tab_body_portfolio" class="none">
        <h3>This is where my projects will go!</h3>
      </div>
      <div name="contact" id="tab_body_contact" class="none">
        <h3>Holla at me.</h3>
        <p>You can always send me an email at mattschmo@gmail.com</p>
      </div>
    </div>

{% endblock %}