{% set title = post.title %}
{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    {% for style in post.styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/{}'.format(style)) }}">
    {% endfor %}
{% endblock styles %}

{% block main_content %}
  <div id="post">
    <h2>{{ post.title }}</h2>
    <h6><em>{{ post.date_clean }}</em></h6>
    <br>
    {{ post.html|safe }}

    <hr />
    <div id="disqus_thread"></div>

  </div>

  <script src="{{ url_for('static', filename='js/highcharts/highcharts.js') }}"></script>
  <script type="text/javascript">
      var disqus_shortname = 'mattschmoyer';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock main_content %}

{% block scripts %}
    {% for script in post.scripts %}
        <script src="{{ url_for('static', filename='js/{}'.format(script)) }}"></script>
    {% endfor %}
{% endblock scripts %}
