/* Color theme */
.dark_blue  { color: #2C3E50; }
.red        { color: #FA4248; }
.gray       { color: #D7DADB; }
.light_blue { color: #6DBCDB; }

.row {
    margin-bottom: 0;
}

#schmoyer_header {
    margin-left: 0;
}

#nav_top {
    position: relative;
    top: 10px;
    text-align: center;
    margin-left: 175px;
}

.none {
    display: none;
}

/* Links */
a, a:visited {
    color: #2C3E50;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus { color:#003050; }
a.under_line:hover, a.under_line:focus {
    text-decoration: underline;
}
a.active {
    color: #6DBCDB;
}
a.active:hover {
    cursor: default;
}
#main-link {
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

/* misc */
hr.small {
    margin: 10px 0 10px;
}

.icon {
    margin: 0 5px 0;
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    #nav_top { margin-left: 0; }
}

code.inline {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 3px;
    font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
    font-size: 12px;
    line-height: 1.4;
}

/*** Image Modals ***/

.image-to-zoom {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.image-to-zoom:hover {
    opacity: 0.7;
}

/* The Modal (background) */
#modal-image {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-image-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#image-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 16px;
}

/* Add Animation - Zoom in the Modal */
.modal-image-content, #image-caption-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#close-image-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#close-image-modal:hover,
#close-image-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-image-content {
        width: 100%;
    }
}