/* Color theme */
.dark_blue  {
    color: #2C3E50;
}
.red {
    color: #e65559;
}
.gray {
    color: #D7DADB;
}
.light_blue {
    color: #6DBCDB;
}

/* Helpers */
.row {
    margin-bottom: 0;
}

.none {
    display: none;
}

/* Base */
#schmoyer_header {
    margin-left: 0;
}

#nav_top {
    position: relative;
    top: 10px;
    text-align: center;
    margin-left: 175px;
}

/* Links */
a, a:visited {
    color: #2C3E50;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus {
    color:#003050;
}
a.under_line:hover, a.under_line:focus {
    text-decoration: underline;
}
a.active {
    color: #6DBCDB;
}
a.active:hover {
    cursor: default;
}
#main-link {
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

/* Light Switch */
body.dark-mode {
    color: #A5A5A5;
    background: #252120;
}
h1.dark-mode, h2.dark-mode, h3.dark-mode, h4.dark-mode, h5.dark-mode, h6.dark-mode {
    color: #e6e6e6;
}
a.dark-mode, a.dark-mode:visited {
    color: #4198ef;
}
#toggle-light.light-on {
    color: #e65559;
}
a.dark-mode.active {
    color: #6DBCDB;
}
a.dark-mode.active:hover {
    cursor: default;
}

/* misc */
hr.small {
    margin: 10px 0 10px;
}

.icon {
    margin: 0 5px 0;
    font-size: 20px;
}

.post-list-date {
    display: inline;
    float: right;
}

@media only screen and (max-width: 767px) {
    #nav_top, #social {
        display: none;
    }

    #header, #tab_body_blog {
        text-align: center;
    }

    .post-list-date {
        float: inherit;
    }
}
