/*
*  Matthew Schmoyer
*  Aug 16 2013
*
*/

/* Color theme */
.dark_blue {color: #2C3E50;	}
.red {color: #FA4248;}
.gray {color:#D7DADB;}
.light_blue{color:#6DBCDB;}

/* Links */
a, a:visited {
	color: #2C3E50;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:focus {color:#003050;}
a.under_line:hover, a.under_line:focus {
	text-decoration: underline;
}

hr.small {
	margin: 10px 0 10px;
}

.icon {
	margin: 0 5px 0;
	font-size: 20px;
}