<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{{ url_for('admin.static', filename='js/jquery-1.11.2.min.js') }}"></script>

  <!-- Vegas slideshow stuff -->
  <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/vegas/vegas.min.css') }}">
  <script src= "{{ url_for('admin.static', filename='js/vegas/vegas.min.js') }}"></script>

  <!-- Weather API -->
  <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/simpleweather.css') }}">
  <script src="{{ url_for('admin.static', filename='js/plugins/jquery.simpleweather.min.js') }}"></script>

  <!-- Time -->
  <script src="{{ url_for('admin.static', filename='js/plugins/moment.js') }}"></script>

  <!-- News ticker -->
  <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/liscroller.css') }}">
  <script src="{{ url_for('admin.static', filename='js/plugins/jquery.liscroller.js') }}"></script>

  <!-- My custom shit -->
  <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/screen.css') }}">

</head>
<body class="overlay">

  <div id="clock"></div>
  <div id="weather"></div>


  <footer class="headlines">
    <ul id="headline-ticker">
      {% for headline in headlines %}
        <li>.. {{ headline }} ..</li>
      {% endfor %}
    </ul>
  </footer>
  <script>

    function displayTime() {
        var time = moment().format('h:mm a [<div class="date">]MMM Do YY[</div>]');
        $('#clock').html(time);
        setTimeout(displayTime, 1000);
    }

    function getWeather() {
      $.simpleWeather({
        location: 'Philadelphia, PA',
        woeid: '',
        unit: 'f',
        success: function(weather) {
          html = '<h2><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+'</h2>';
          html += '<h4>'+weather.city+', '+weather.region+'</h4>';
          $("#weather").html(html);
        },
        error: function(error) {
          $("#weather").html('<p>'+error+'</p>');
        }
      });
    }

    $(document).ready(function() {

      displayTime();

      getWeather(); //Get the initial weather.
      setInterval(getWeather, 600000); // Update every 10 minutes

      $("ul#headline-ticker").liScroll({
        complete: function() {
          $('#headline-ticker').load("{{ url_for('admin.news_headlines', category='sports') }}")
        }
      });

      $('body').vegas({
        delay: 7000,
        timer: false,
        shuffle: true,
        transition: null, // TODO: too much for midori CPU right now
        // transitionDuration: 2000,
        //animation: 'random', TODO: Get this to render more fluidly on rasp pi midori
        overlay: "{{ url_for('admin.static', filename='css/vegas/overlays/05.png') }}",
        slides: [
          {% for slide in slides %}
            {'src': '{{ slide }}' },
          {% endfor %}
        ]
      });

    });
  </script>

</body>